<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="text">
    {{text}}
    <br>
    <input type="text" v-model="age">
    {{age}}
  </div>
  <script>
    //

    //每个data都有一个dep  存入watcher
    function Dep() {
      // console.dir(this)
      this.subs = []
    }
    Dep.prototype= {
      addSub(sub) {
        this.subs.push(sub)
      },
      notify() {
        this.subs.map(sub => {
          sub.render()
        })
      }
    }
    //compile标记使用到的data，处理好交给watcher，watcher负责

    //node: 更新视图需要的节点，只是使用了数据的节点
    //vm: data,通过 通过render()来更新视图
    //name: 使用到的data的key
    //type: 分不同的类型进行渲染
    function Watcher(node, vm, name, type) {
      // console.dir(this)
      this.node = node
      this.vm = vm
      this.name = name
      this.type = type  
      this.render()     
    }

    Watcher.prototype = {
      render() { 
        console.dir(this)
        this.get()      
        if(this.type === 'input'){
          this.node.value = this.value
        }
        else if(this.type === 'text'){
          this.node.nodeValue = this.value
        }
      },
      //this.vm[this.name]将触发data get()将watcher push到依赖中，this.value保存最新值
      get() {  
        Dep.target = this     
        this.value = this.vm[this.name]
        Dep.target = null     
      }
    }

    function observe(obj) {
      Object.keys(obj).forEach(function (key) {
        defineReactive(obj, key, obj[key])
      });
    }

    function defineReactive(obj, key, val) {
      const dep = new Dep()
      Object.defineProperty(obj, key, {
        get: function () {
          if(Dep.target){
            dep.addSub(Dep.target)
          }                
          return val
        },
        set: function (newVal) {
          if (newVal === val){
            return
          }
          val = newVal
          dep.notify()         
        }
      });
    }

    function nodeToFragment(el, vm) {
      let flag = document.createDocumentFragment();
      const node = document.querySelector(el)
      let child
      while(child = node.firstChild){
        compile(child, vm)
        flag.appendChild(child);
      }
      return flag
    }

    function compile(node, vm) {
      if(node.nodeType === 1){
        let attr = node.attributes;
        // 解析属性
        for(let i = 0; i < attr.length; i++){
          if(attr[i].nodeName === 'v-model'){
            const name = attr[i].nodeValue // 获取v-model绑定的属性名

            node.addEventListener('input', function(e) {
              // 给相应的data属性赋值，进而触发该属性的set方法
              vm[name] = e.target.value
            })

            new Watcher(node, vm, name, 'input')
            // node.value = vm[name] // 将data的值赋给该node
            node.removeAttribute('v-model')
          }
        }
        

      }
      if (node.nodeType === 3) {
        reg = /\{\{(.*)\}\}/
        if (reg.test(node.nodeValue)) {
          const name = RegExp.$1.trim(); // 获取匹配到的字符串
          new Watcher(node, vm, name, 'text')
        }
      }
    }




    const vm = {
      data: {
        text: 1,
        age: 22,
        num: 3
      }
    }

    observe(vm.data)
    

    document.querySelector('#app').appendChild(nodeToFragment('#app', vm.data))
  </script>
</body>
</html>