<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="text">
    {{text}}
    <br>
    <!-- {{arr}} -->
    <!-- <br>
    <input type="text" v-model="age">
    {{age}} -->
  </div>
  <script>
    //

    //每个data都有一个dep  存入watcher
    function Dep() {
      this.subs = []
    }
    Dep.prototype= {
      addSub(sub) {
        this.subs.push(sub)
      },
      notify() {
        this.subs.map(sub => {
          sub.render()
        })
      }
    }
    //compile标记使用到的data，处理好交给watcher，watcher负责

    //node: 更新视图需要的节点，只是使用了数据的节点
    //vm: data,通过 通过render()来更新视图
    //name: 使用到的data的key
    //type: 分不同的类型进行渲染
    function Watcher(node, vm, name, type) {
      Dep.target = this//控制只在compile获取到的位置才push到Dep
      this.node = node
      this.vm = vm
      this.name = name
      this.type = type  
      this.render() //为了初始化渲染视图
      Dep.target = null//在修改data时会把值保存在this.value,触发data的get但是不能push watcher
    }

    Watcher.prototype = {
      render() {
        this.get() 
        if(this.type === 'input'){
          this.node.value = this.value
        }
        else if(this.type === 'text'){
          console.log(this.value)
          this.node.nodeValue = this.value
        }
      },
      //在watcher中保存最新的值,所有视图更新都是按照this.value
      get() {
        this.value = this.vm[this.name]       
      }
    }

    //劫持数组操作
    function observifyArray(array, dep){
      var methods = ['push', 'pop', 'shift', 'unshift', 'splice', 'sort', 'reverse'];

      //新建对象指向Array原型  为了能够访问除去以上的数组属性
      var arrayProto = Object.create(Array.prototype);
      methods.map(function(method){
        arrayProto[method] = function(...args){
          // 劫持修改数据
          var ret = Array.prototype[method].apply(this, args);
          //可以在修改数据时触发其他的操作
          console.log("newValue: ", this);
          dep.notify()
          return ret;
        }      
      })
      //将数组原型指向新建的对象   让数组能够访问自定义的数组操作方法
      array.__proto__ = arrayProto
    }

    function observe(obj) {
      Object.keys(obj).forEach(function (key) {
        defineReactive(obj, key, obj[key])
      });
    }

    function defineReactive(obj, key, val) {
      const dep = new Dep()
      if(isArray(val)){
        observifyArray(val, dep)
      }
      
      Object.defineProperty(obj, key, {
        get: function () {
          if(Dep.target){
            dep.addSub(Dep.target)
            console.log(dep)
          }                
          return val
        },
        set: function (newVal) {
          if (newVal === val){
            return
          }
          val = newVal
          dep.notify()         
        }
      });
    }

    function nodeToFragment(el, vm) {
      let flag = document.createDocumentFragment();
      const node = document.querySelector(el)
      let child
      while(child = node.firstChild){
        compile(child, vm)
        flag.appendChild(child);
      }
      return flag
    }

    function compile(node, vm) {
      if(node.nodeType === 1){
        let attr = node.attributes;
        // 解析属性
        for(let i = 0; i < attr.length; i++){
          if(attr[i].nodeName === 'v-model'){
            const name = attr[i].nodeValue // 获取v-model绑定的属性名

            node.addEventListener('input', function(e) {
              // 给相应的data属性赋值，进而触发该属性的set方法
              vm[name] = e.target.value
            })

            new Watcher(node, vm, name, 'input')
            // node.value = vm[name] // 将data的值赋给该node
            node.removeAttribute('v-model')
          }
        }
        

      }
      if (node.nodeType === 3) {
        reg = /\{\{(.*)\}\}/
        if (reg.test(node.nodeValue)) {
          const name = RegExp.$1.trim(); // 获取匹配到的字符串
          new Watcher(node, vm, name, 'text')
        }
      }
    }

    function isArray(arg) {
      if (typeof arg === 'object') {
        return Object.prototype.toString.call(arg) === '[object Array]';
      }
      return false;
    }

    const vm = {
      data: {
        text: 1,
        age: 22,
        num: 3,
        arr: [1,2,3]
      }
    }

    observe(vm.data)
    

    document.querySelector('#app').appendChild(nodeToFragment('#app', vm.data))
  </script>
</body>
</html>